<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <div class="wrapper"> <!--the whole screen wrapper-->
        <%- include('./partials/nav-bar.ejs') %>
        <div class="warn">
            <h1>404</h1>
            <p>We can't get this address...</p>
            <p>:(</p>
        </div>    

    </div><!--wrapper ended here-->

</body>
</html>