<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
    <div class="wrapper"> <!--the whole screen wrapper-->
        <%- include('./partials/nav-bar.ejs') %>
        <div class="about-wrapper">
            <h1>About Me</h1>
            <p>Hello Hello, <i class="fa-solid fa-bullhorn"></i> I am Yared Sebsbe. the developer of this awesome website. this project is based on Node Js. if you have any feedbacks about this project or want to work with me, you can contact me through below telegram link or phone number </p>
            <div class="about-footer">
                <span><i class="fa-solid fa-phone"></i> - 0989823399</span>
                <span class="middle"><i class="fa-brands fa-telegram"></i> - <a href="https://t.me/yaredseb">@yaredseb</a></span>
            </div>
            
            <span class="about-name">Yared Sebsbe - 2024</span>
        </div>
    </div><!--wrapper ended here-->    
    
</body>
<script src="https://kit.fontawesome.com/d3383a5202.js" crossorigin="anonymous"></script>
</html>