<nav><!--nav bar-->
    <a href="/vents" class="logo-link">
        <h1 class="logo">Share Vent</h1>
    </a>
    <ul>
        <li><a href="/vents">posts</a></li>
        <li><a href="/vents/create_post">vent</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</nav><!--the navigation bar ended here-->